$navbar-default-bg: #08088A;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
	float:left;
	color:#fff;
	text-transform:uppercase;
	font-size:1.7em;
	letter-spacing:-1px;
	font-weight:bold;
}

.center {
	text-align:center;
}

.article-meta-description {
	border-top:1px solid #eaeaea;
	margin-top:15px;
}

.article-actions {
	border-top:1px solid #eaeaea;
	padding-top:5px;
}

.description {
	margin-top:0px;
}

.article-title {
	font-weight:bold;
	font-size:1.5em;
}

.article-description {
	border-top:1px solid #eaeaea;
	padding-top:15px;
	padding-bottom:15px;
}
